@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* The hero image */
.hero-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img1.jpg");

    /* Set a specific height */
    height: 100vh;
    /*height: 61em;*/
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place le texte au milieu de l'image*/
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.progress {
  margin-top: 2vh;
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 30px;
  width: 100%;
}

.progress-done {
  background: linear-gradient(to left, #43cea2 , #185a9d);
  box-shadow: 0 3px 3px -5px #43cea2, 0 2px 5px #43cea2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 0;
  transition: 1s ease;
}