.navFirst
{
    display: block;
    color: green;
    list-style: none;
    text-decoration: none;
    color:white
}

h1
{
    color: blue;
}

header
{
    background-color: #4394FA;  

    color: #fff;   
    
}
footer
{
    background-color: black;
    color:white;
}