header
{
    background-color: #4394FA;     
}

main
{
    height: 100vh;
}

body
{
    background-color: #293133; /*#293133 */
    color: white;
    height: 100vh;
    width: 210vh;
    /* overflow: hidden; */
}

footer strong
{
    margin-right: 30%;
}
footer div
{
    margin-top: 50%;
}

footer
{
    background-color: #4394FA;
    color:black;
    height: 60px;
    position: fixed;
    bottom: 0%;
    right: 0;
    left: 0;
}

/* css qui modifie les titres de niveaux 1 de toutes les pages */
h1
{
    color: #E9EDDE;
    text-align: center;
}

/* css qui modifie les titres de niveaux 2 de toutes les pages */
h2
{
    text-align: center;
    color:  #FDE74C;
}

/* css qui modifie les paragraphe introductife de la page Index */
.intro
{
    padding: 1%;
    text-indent:2%; 
    font-size: 130%;
    text-align: left;
}

/* css pour la lignes des cardes de l'index */
#cardes
{
    margin-bottom: 5%;
}

/* css pour les cardes de la page index */
.maCard
{
    margin-bottom: 5%;
    background-color:  #5BC0EB; 
    border-radius: 3%;
    
    box-shadow: 0 0 10px white;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  /*60%*/
    height: 600px;
}

#imgForce
{
    background-image: url("images/icon-force.png");
    background-size: cover;
    width: 40%;
    height: 30%;
    margin-left: 30%;
    margin-top: 5%;
    /*position: absolute;*/
    background-repeat: no-repeat;
    background-position: 50% 10%;

}

form
{
    margin: 1% 45%;
}
input
{
    background-color: #293133; /*E9EDDE   293133*/
    /*border-radius: 5px;*/
    margin-top: 5px;
    border:none;
    color: #E9EDDE;
}
label
{
    color: #5BC0EB;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-top: 10px;
}

#imgConfiance
{
    background-image: url("images/icon-confiance.png");
    background-size:cover;
    width: 60%;
    height: 30%;
    margin-left: 20%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

#imgPoids
{
    background-image: url("images/icon-poids.png");
    background-size: cover;
    width: 55%;
    height: 30%;
    margin-left: 23%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

/* css pour les images des cardes de l'index */
.imgCard
{
    height: 40%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    position: relative;
    top: 5%;
    overflow: hidden;
}

.test
{
}

/* css pour les titres des cardes de la page index */
.maCard h5
 {
    position: relative;
    top: 0%;
 }

 /* css pour les paragraphe des cardes de la page index */
 .maCard p
 {
    margin-top: 10%;
 }

 @media (max-width: 500px)
 {
    .texteCard
    {
        margin-bottom: 91px;
    }
 }

 /* css qui difère pour les grand écran*/
 @media (min-width: 992px)
{
    /* css qui modifie les paragraphe introductife de la page Index */
    .intro
    {  
        margin-left: 10%;
        margin-right: 10%;
    }

    /* css qui permet de modifier la carde de gauche pour la page index */
    #card1
    {
        margin-right: 1%;
    }

     /* css qui permet de modifier la carde de droite pour la page index */
    #card3
    {
        margin-left: 1%;
    } 

    /* css pour les cardes de la page index */
    .maCard
    {
        /*width: 40%; */
        height: 600px;
        max-width: 380px;
        min-width: 300px;
    }

     /* css pour les titres des cardes de la page index */
     .maCard h5
     {
         position: relative;
         top: 0%;
     }
    
    /* css pour les paragraphe des cardes de la page index */
    .maCard p
    {
        position: relative;
        bottom: 5%;
    }

    .imgCard
    {
        height: 35%;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        position: relative;
        top: 5%;
    }
}

.test
{
    border-radius: 15%;
}

thead tr
{
    background-color: #FDE74C; 
    text-align: center;
    color: #293133;
    font-weight: bold;
    font-family: monospace;
    border-radius: 20px;
    height: 60px;
}

table
{
    width: 70%;
   font-size: 1.5rem; 
   color: black;
   border-radius: 20px;
   color: #293133;
   margin: auto;
   overflow: hidden;
   margin-top: 2%;
   margin-bottom: 2%;
}

tbody
{
    background-color: white;
    border-radius: 20px;
    height: 60px;
}
td
{
    text-align: center;
}
tbody tr
{
    height: 60px;
}


/* #EFD807*/ /*#FAED27*/
/* 20rem;  height: 530px;*/
 /* 20rem;  height: 530px;*/
 

 