form
{
    margin: 1% 45%;
}
input
{ 
    background-color: #293133;      /*E9EDDE   293133*/
                                      /*border-radius: 5px;*/
    margin-top: 5px;
    border:none;
    color: #E9EDDE;
}
label
{
    color: #5BC0EB;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-top: 10px;
}

/* pour label:
for='terrain' style='color: #5BC0EB; margin-bottom: 0px; margin-top: 100px; padding-top: 10px' */

/* Pour les input
style='background-color: #293133; margin-top: 5px; border:none; color: #E9EDDE' */

/* select:
style='color: #5BC0EB; margin-bottom: 0px; margin-top: 100px; padding-top: 10px' */

/* div au dessus:
style='background-color:#E9EDDE; boder-raduis:5px' */

/* formulaire
style='margin: 1% 45%' */